*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
#navbarr{
    background: #212529;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
}

#navbarr{
    /* background: transparent !important; */
}

#navbarr .scrolled{
    background: #212529 !important;
}


.nav-link{
    margin-left: 20px;
}

li a{
    color: #fff !important;
}

a:hover{
    color: #ffc800 !important;
}

.sttbo{
    width: 150px;
}


.agenda{
    padding-top: 15.5rem;
    padding-bottom: 9rem;
    background: url(./imag/header-bg.jpg) no-repeat; 
     background-size: cover;
     background-position: center center;
     text-align: center;
     color: #fff;
    height: 100vh  ;
    background-attachment: scroll;
    margin-bottom: 50px;
    
}

/* ===============the section on==================  */

.studi{
    font-size: 35px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 25px;
    font-family: monospace;
}

.mett{
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
    font-family: m;
}

.btt1{
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    background: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 3px;
    color: #fff;
}

.btt1:hover{
    opacity: 0.8;
    border: 1px solid #ffc800;
}

.section1{
    padding: 60px 0;

}

img.tall1{
    width: 120px;
    border-radius: 50%;
    background-color: #ffc800;
    padding: 25px;
}

/* <!-- ===============the section 2================== -->   */

.secti2{
    background: #F8F9FA;
}

.portfo{
    width: 450px;
}

.portfo:hover{
    /* opacity: 0.5; */
    background-color: #ffc800 !important;
}

.bagr1{
    background-color: #fff;
}


.ul, li{
    list-style-type: none;
}

.card{
    position: relative;
}


.card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffc800c7;
    color: white;
    font-size: 5.5rem;
    /* font-weight: 600; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .0s;
    /* transform-origin: top left; */
}

.card:hover .overlay{
    transform: scale(1);
} 

/* <!-- =============the timeline section============ --> */

.timline{
    padding: 0px 100px;
    position: relative;
    width: 100%; 
}

.timline ul li{
   position: relative;
   width: 50%;
}

.timline::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 4px;
    background-color: #E9ECEF;
    left: 50%;
    top: 10%;
}

.timline ul li:nth-child(odd){
    float: left;
    /* text-align: right; */
    clear: both;
    padding: 0 20px 20px 30px;
    width: 46%;
}


.timline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
    padding: 0 20px 20px 30px;
    width: 46%;
}

.timline ul li:nth-child(odd) .content{
    margin-right: 100px;
    text-align: center;
}

.timline ul li:nth-child(even) .content{
    margin-left: 100px;
    text-align: center;
}

.timline ul::after{
    content: "";
    display: table;
    clear: both;
}

.timline ul li:nth-child(odd)::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #000;
    border-radius: 50%;
    right: -79px;
    top: 50%;
    transform: translate(0% -50%);
    border: 4px solid rgb(204, 197, 197);

}

.timline ul li:nth-child(even)::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #000;
    border-radius: 50%;
    left: -79px;
    top: 50%;

    top: 50%;
    transform: translate(0% -50%);
    border: 4px solid rgb(204, 197, 197);
}

.content{
    padding: 50px 0px;
}


.timline ul li:nth-child(1)::before{
    background-image: url(./imag/dessin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: -35px;
    margin-top: -24px;
}

.timline ul li:nth-child(2)::before{
    background-image: url(./imag/informati.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -35px;
    margin-top: -30px;
}

.timline ul li:nth-child(3)::before{
    background-image: url(./imag/bireau.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: -35px;
    margin-top: -24px;
}


.timline ul li:nth-child(4)::before{
    background-image: url(./imag/work.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -35px;
    margin-top: -30px;
}

.timline ul li:nth-child(5)::before{
    background-color: yellow;
    margin-right: -35px;
    margin-top: -72px;
   
}

.lat{
    padding: 150px;
}

.raduis{
    border-radius: 58%;
    border: 7px solid #979da394;
    width: 240px;
    /* box-shadow: 5px 5px 5px 5px #979da3; */
}




/* <!-- ===============the section 6================== -- */

.cart-worl{
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(./imag/cartw.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: 145vh */
}


.hh2{
    font-size: 50px;
    
}

.bttfo{
    opacity: 0.7;
    width: 200px;
}

/* ================media 576px============ */

@media (max-width: 576px) {

    .fflex{
        /* flex-direction: column; */
    }

}



/* ================media 767px============ */


@media (max-width: 767px) {
    
    .timline{
        padding: 0px 100px;
        position: relative;
        width: 100%;
    }


    .timline::before {
        left: 40px;
        background-color: #E9ECEF;
        content: "";
        position: absolute;
        height: 85%;
        width: 2px;
        top: 10%;
    }

    .timline ul li{
        position: relative;
        width: 50%;
     }


     .timline ul li:nth-child(odd){
        float: left;
        /* text-align: right; */
        clear: both;
        padding: 0 20px 20px 30px;
        width: 130%;
    }
    
    
    .timline ul li:nth-child(even){
        float: left;
        text-align: left;
        clear: both;
        padding: 0 20px 20px 30px;
        width: 130%;
    }


    .timline ul li:nth-child(odd)::before{
        content: "";
        position: absolute;
        height: 87px;
        width: 87px;
        background-color: #000;
        border-radius: 50%;
        left: -118px;
        top: 45%;
        /* transform: translate(0% -50%); */
        border: 4px solid rgb(204, 197, 197);
    
    }

    .timline ul li:nth-child(even)::before{
        content: "";
        position: absolute;
        height: 87px;
        width: 87px;
        background-color: #000;
        border-radius: 50%;
        left: -77px;
        top: 45%;
        /* transform: translate(0% -50%); */
        border: 4px solid rgb(204, 197, 197);
    
    }

    .timline ul li:nth-child(5)::before{
        background-color: yellow;
       margin-top: 40px;
    }

}  